@font-face {
    font-family: 'heading';
    src: url(Northwell.ttf) format('opentype');
}

@font-face {
    font-family: 'hindilike';
    src: url(hindilike.ttf) format('truetype');
}

@font-face {
    font-family: 'menufont';
    src: url(trench100.ttf) format('truetype');
}

html {
    height: 100%;
}

body {
    margin: 0px;
    background-image: url(../src/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    color: #a2a59e;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
    transform: scale(1.2);
}
.title {
    font-size: 75px;
    font-family: 'heading';
    margin-bottom: -20px;
    text-decoration: underline 2px #494449;
    text-underline-offset: 5px;
}

.description {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.header .menu {
    font-size: 30px;
    background-color: rgba(243, 56, 23, 0.4);
    color: white;
    padding: 5px 20px;
    border-radius: 4px;
    transition: 1s;
    font-family: 'hindilike', serif;
    
}
.header .menu:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.tabs {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
    color: #a2a59e;
}

.tabs div {
    border: 1px solid #313130;;
    color: #a2a59e;
    padding: 5px 20px;
    border-radius: 3px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.5s;
}

.tabs div:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.menucontainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 500px;
    margin: 30px;
    border-radius: 10px;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 60px 100px;
    font-family:  'menufont', Helvetica, sans-serif;
    background-image: linear-gradient(rgb(165, 39, 39),rgb(199, 107, 31) );
}
.menuheading {
    font-size: 40px;
    font-weight: bold;
    font-family: 'hindilike';
}
.menusubheading {
    font-size: 30px;
    font-weight: bold;
}
.item {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    width: 100%;
    align-items: center;
    gap: 20px;
    font-size: 25px;
}

.price {
    text-align: right;
}

.menucontainer img {
    width: 100px;
    border-radius: 50%;
}

